body{
    margin: 0 0;
	/* padding: 1em 3em; */
	font: 80%/1.4 tahoma, arial, helvetica, lucida sans, sans-serif;
	/* border: 1px solid #999;
	background: #eee; */
	position: relative;
	/* background-color: #FFF; */
	text-align: left;
    transition: all 0.5s ease;
    margin-left: 12%;
}
hr{
    border-width: 0 0 0.1em 0;
    border-color: rgba(255,255,255,0.3);;
}
.tecnologiasUtilizadas{
    width: 80%;
    padding-left:1%;
    padding-right: 1%;
    margin-top: 2%;
    text-align: center;
}
.techIcon{
    width: 8em;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5%;
}
.institutionIcon{
    width: 10em;
    margin-right: 5%;
}

.obra{
    width:40%;
    height: 40%;
    position: relative;
    left:20%  
}

.superiorBar{
    display: block;
    font-size: 1.5em;
    width: 97.5%;
    border-style: solid;
    border-radius: 15px;
    border-color: white;
    border-width: 7px;
    padding-left:1%;
    padding-right: 0%;
    margin-top: 2%;
    box-shadow: 0 .150rem 1.75rem 0 rgba(58,59,69,.15);
    margin-top: 0px;
    text-align: left;
}

.superiorBar H1{
    color: rgba(58,59,69,0.5);
    /*background-color:#4e73df;*/
    font-size: 1.5em;  
    margin-bottom: 0.1em;
    margin-left: 70%;
}

.superiorBar H2{
    color: rgba(58,59,69,0.5);
    /*background-color:#4e73df;*/
    font-size: 0.8em; 
    margin-left: 61%;

}

.div_titulo_secao{
    display: block;
    position:relative;
    left:-0%;
    width:70%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.titulo_secao{
    font-size: 2.5em;
    text-align: left;
    font-weight:lighter;
    color:rgba(95, 99, 104,0.5);
}

.sideBar{
    background: #4e73df;
    position: fixed;
    top: 0;
    left: 0;
    width: 15%;
    height: 100%;
    padding: 2em 0;
    margin-right:18%;
}

.MenuLateral a{
    padding: 5% 2% 5% 2%;
    margin-left: 0.5em;
    text-decoration: none;
    font-size: 1.4em;
    color: #ffffff;
    display: block;
    transition: 0.3s;
}

.MenuLateral :hover{
    background-color: #ffffff;
    color: #4e73df;
}


.profile img{
    display: block;
    width: 50%;
    height: 50%;
    border-radius: 50%;
    margin: 0 auto;
}

.profile H3{
    color: #ffffff;
    margin: 1em 0 0.2em 0.5em;
    text-align: center;
    font-size: 1.5em;
}

.profile P{
    color: #ffffff;
    margin-top: 0.3em;
    text-align: center;
}


.subtitulo{
    text-align:center;
    margin-top: 0.1em;
    color:#4e73df;
    font-size:15px;
}
.bodyContent{
    margin-left: 17%;

}

.textoCorpo H1{
    font-size: 2.5em;
    text-align: left;
    font-weight:lighter;
    color:rgba(95, 99, 104,0.5);
}

.textoCorpo p{
    font-size: 1.5em;
    text-align: justify;
    margin-right: 20%;
    font-weight:lighter;
    color:rgba(95, 99, 104,1);
    line-height: 2em;
}


#wideGraph_green{
    display: block;
    color: rgba(15,157,88,0.7);
    font-size: 1.5em;
    width: 80%;
    border-style: solid;
    border-radius: 15px;
    border-color: white;
    border-left-color:rgba(15,157,88,0.7);
    border-width: 7px;
    padding-left:1%;
    padding-right: 1%;
    margin-top: 2%;
    box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15);
}


#wideGraph_red{
    color: rgba(219, 68, 55,0.7);
    font-size: 1.5em;
    width: 80%;
    display: block;
    border-style: solid;
    border-radius: 15px;
    border-color: white;
    border-left-color:rgba(219, 68, 55,0.7);
    border-width: 7px;
    padding-left:1%;
    padding-right: 1%;
    margin-top: 2%;
    box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15);
}


#wideGraph_blue{
    color: rgba(66, 133, 244,0.7);
    font-size: 1.5em;
    width: 80%;
    display: block;
    border-style: solid;
    border-radius: 15px;
    border-color: white;
    border-left-color:rgba(66, 133, 244,0.7);
    border-width: 7px;
    padding-left:1%;
    padding-right: 1%;
    margin-top: 2%;
    box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15);
}

#wideGraph_yellow{
    color: rgba(244, 132, 0,0.7);
    font-size: 1.5em;
    width: 80%;
    display: block;
    border-style: solid;
    border-radius: 15px;
    border-color: white;
    border-left-color:rgba(244, 132, 0,0.7);
    border-width: 7px;
    padding-left:1%;
    padding-right: 1%;
    margin-top: 2%;
    box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15);
}
.halfDivConfig{
    width:80%;
    padding-right: 3%;
    padding-left: 3%;
    margin-top: 0.5%;
}
#halfGraph_green{
    display: inline-block;
    vertical-align: middle;
    color: rgba(15,157,88,0.7);
    font-size: 1.5em;
    width: 27%;
    height:8em;
    margin:1%;
    border-style: solid;
    border-radius: 15px;
    border-color: white;
    border-left-color:rgba(15,157,88,0.7);
    border-width: 7px;
    padding-left:1%;
    padding-right: 1%;
    margin-top: 2%;
    box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15);
}
#halfGraph_green H1{
    font-size: 2em;
    color:rgba(95, 99, 104);
    margin-top:0.4em;
}


#halfGraph_red{
    color: rgba(219, 68, 55,0.7);
    font-size: 1.5em;
    width: 27%;
    height:8em;
    margin:1%;
    vertical-align: middle;
    display: inline-block;
    border-style: solid;
    border-radius: 15px;
    border-color: white;
    border-left-color:rgba(219, 68, 55,0.7);
    border-width: 7px;
    padding-left:1%;
    padding-right: 1%;
    margin-top: 2%;
    box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15);
}

#halfGraph_red H1{
    font-size: 2em;
    color:rgba(95, 99, 104);
    margin:0px;
    margin-top:0.4em;
}

#halfGraph_blue{
    display: inline-block;
    vertical-align: middle;
    color: rgba(66, 133, 244,0.7);
    font-size: 1.5em;
    width: 27%;
    height:8em;
    margin:1%;
    border-style: solid;
    border-radius: 15px;
    border-color: white;
    border-left-color:rgba(66, 133, 244,0.7);
    border-width: 7px;
    padding-left:1%;
    padding-right: 1%;
    margin-top: 2%;
    box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15);
}
#halfGraph_blue H1{
    font-size: 2em;
    color:rgba(95, 99, 104);
    margin-top:0.4em;
}

#halfGraph_green P{
    margin-bottom: 0px;
    padding-bottom: 0.4em;
}
#halfGraph_green H2{
    position:relative;
    font-size: 1.5em;
    margin:0px;
    color:rgba(95, 99, 104);
}
#halfGraph_yellow P{
    margin-bottom: 0px;
    padding-bottom: 0.4em;
}
#halfGraph_yellow H2{
    position:relative;
    font-size: 1.5em;
    margin:0px;
    color:rgba(95, 99, 104);
}

#halfGraph_red P{
    margin-bottom: 0px;
    padding-bottom: 0.4em;
}
#halfGraph_red H2{
    position:relative;
    font-size: 1.5em;
    margin:0px;
    color:rgba(95, 99, 104);
}


#halfGraph_blue P{
    margin-bottom: 0px;
    padding-bottom: 0.4em;
}
#halfGraph_blue H2{
    position:relative;
    font-size: 1.5em;
    margin:0px;
    color:rgba(95, 99, 104);
}

#halfGraph_yellow{
    display: inline-block;
    
    vertical-align: middle;
    color: rgba(244, 132, 0,0.7);
    font-size: 1.5em;
    width: 27%;
    height:8em;
    margin:1%;
    border-style: solid;
    border-radius: 15px;
    border-color: white;
    border-left-color:rgba(244, 132, 0,0.7);
    border-width: 7px;
    padding-left:1%;
    padding-right: 1%;
    margin-top: 2%;
    box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15);
}
#halfGraph_yellow H1{
    font-size: 2em;
    color:rgba(95, 99, 104);
    margin-top:0.4em;
}
